@import "/src/app/shared/variables.scss";

.content-wrap {
    background: $clr-with;
    margin-top: -3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-content-wrap {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.empty {
    text-align: center;
    width: 100%;
    margin: 3rem auto;
    font-size: 2rem;
    color: $clr-font-desc;
    font-family: "Dosis", sans-serif;
}

@media all and (max-width: 768px) {
    .page-content-wrap {
        flex-direction: column;
        gap: 0;
    }
}
