<app-page-hero [heroPageTitle]="heroTitle"></app-page-hero>


<section class="treadmill-list container">
    <div class="content-wrap">
        <app-page-title [pageTitle]="pageTitle"></app-page-title>

        <div class="loader-wrap" *ngIf="isLoading">
            <app-loader size="medium"></app-loader>

        </div>


        <div *ngIf="!isLoading" class="page-content-wrap">
            <app-search></app-search>

            <ul *ngIf="promotions.length !== 0" class="cards-wrap">
                <li *ngFor="let promotion of promotions">
                    <app-product-card [product]="promotion.product" [cardType]="promotion.productType"></app-product-card>
                </li>
            </ul>
            <h3 class="empty" *ngIf="promotions.length === 0">NO PRODUCTS</h3>

        </div>
        <app-pagination *ngIf="!isLoading" [countPages]="6" [productCount]="count"></app-pagination>
    </div>
</section>

