@import "/src/app/shared/variables.scss";

.filter-product {
    display: flex;
    flex-direction: column;
}
.title-filter {
    margin: 0.6rem 0;
    font-size: 1.2rem;
}
.checkbox-wrap {
    text-align: left;
    input {
        cursor: pointer;
    }
}

@media all and (max-width: 768px) {
    .filter-product {
        align-items: center;
    }
}

