<section class="catalog container">
    <div class="content-wrap">
        <div class="loader-wrap" *ngIf="isLoading">
            <app-loader size="medium"></app-loader>

        </div>
        <div class="products-container">
            <div class="products-heading">
               <ul class="list-preders" role="list">
                <li *ngFor="let product of promotions">
                    <app-admin-product-card [product]="product" [cardType]="product.productType"></app-admin-product-card>
                </li>
               </ul>
            </div>

        </div>
        <app-pagination *ngIf="!isLoading" [countPages]="6" [productCount]="count"></app-pagination>
    </div>
</section>
