<div class="page-header-wrap">
    <app-slider [images]="product.images"></app-slider>

    <div class="page-header-info">
        <div class="rating-price-wrap">
            <app-rating [showCount]="true" [product]="product"></app-rating>

            <p class="price-wrap">
                <span [ngClass]="hasPromo ? 'normal-price' : 'out-promo'">${{product.price}}</span>
                <span *ngIf="hasPromo" class="sale">${{product.promoPrice}}</span>
            </p>
        </div>
        <div class="product-definition-wrap">
            <h3 class="product-definition">ADAPTIVE RUNNING SURFACE</h3>
            <p>
                Easy on the joints, ready for your sprints. Treadmill with
                incline for running at home.
            </p>
        </div>
        <div class="lists-wrap">
            <div class="page-header-list-wrap">
                <p class="page-header-title">Delivery</p>
                <ul class="page-header-list" role="list">
                    <li class="page-header-list-item">
                        <fa-icon
                            class="check-icon"
                            [icon]="icons.faCheck"
                        ></fa-icon>
                        Inclusive
                    </li>
                    <li class="page-header-list-item">
                        <fa-icon
                            class="check-icon"
                            [icon]="icons.faCheck"
                        ></fa-icon>
                        1-2 Weeks
                    </li>
                    <li class="page-header-list-item">
                        <fa-icon
                            class="check-icon"
                            [icon]="icons.faCheck"
                        ></fa-icon>
                        Worldwide
                    </li>
                    <li class="page-header-list-item">
                        <fa-icon
                            class="check-icon"
                            [icon]="icons.faCheck"
                        ></fa-icon>
                        30-Day Returns
                    </li>
                </ul>
            </div>

            <div class="page-header-list-wrap">
                <p class="page-header-title">Warranty</p>
                <ul class="page-header-list" role="list">
                    <li class="page-header-list-item">
                        <fa-icon
                            class="check-icon"
                            [icon]="icons.faCheck"
                        ></fa-icon>
                        5 Years
                    </li>
                    <li class="page-header-list-item">
                        <fa-icon
                            class="check-icon"
                            [icon]="icons.faCheck"
                        ></fa-icon>
                        Express Warranty
                    </li>
                </ul>
            </div>
        </div>

        <div *ngIf="!(user$ | async)?.isAdmin" class="btn-wrap">

            <button *ngIf="!hasInCart" class="btn-detail btn-add" (click)="addToCartHandler()">
                Add To Cart
                <fa-icon class="btn-icon" [icon]="icons.faCartPlus"></fa-icon>
            </button>

            <a routerLink="/user/cart" *ngIf="hasInCart" class="btn-detail btn-add">
                Add To Cart
                <fa-icon class="btn-icon" [icon]="icons.faCartPlus"></fa-icon>
            </a>

            <button *ngIf="!hasInWishlist" class="btn-detail btn-buy" (click)="addToWishlistHandler()">
                Watch This Item
                <fa-icon class="btn-icon" [icon]="icons.faHeartRegular"></fa-icon>
            </button>
            <button *ngIf="hasInWishlist" (click)="removeFromWishlistHandler(product)" (mouseover)="hoverHandle(true)" (mouseout)="hoverHandle(false)"  class="btn-detail btn-buy">
                <span>
                    <ng-container *ngIf="isHover">Unwatch </ng-container>
                    <ng-container *ngIf="!isHover">Watching </ng-container>
                    <fa-icon class="btn-icon" [icon]="icons.faHeart"></fa-icon>
                </span>

            </button>
        </div>
        <div *ngIf="(user$ | async)?.isAdmin" class="btn-wrap">
            <a routerLink="/admin/edit/{{productType}}/{{product._id}}" class="btn-detail btn-add">
               EDIT
            </a>
            <button (click)="deleteConfirm()" class="btn-detail btn-buy">
                DELETE
            </button>
        </div>
    </div>
</div>
