<app-page-hero [heroPageTitle]="heroTitle"></app-page-hero>

<app-loader *ngIf="isLoading" size="medium"></app-loader>

<section *ngIf="!isLoading" class="details container">
    <app-page-title [pageTitle]="bench.brand"></app-page-title>

    <div class="page-wrap">
        <app-details-page-header [product]="bench"></app-details-page-header>

        <app-bench-info [bench]="bench"></app-bench-info>
    </div>
    <app-comment-list [productId]="productId" productName="Bench"></app-comment-list>
</section>
