<app-page-hero [heroPageTitle]="heroTitle"></app-page-hero>

<app-notification (notDestroy)="onCloseNot()" *ngIf="error?.length !== 0" [errorMessage]="error"></app-notification>

<app-loader *ngIf="isLoading" size="medium"></app-loader>

<section class="container">
    <div class="content-wrap">
        <app-page-title [pageTitle]="pageTitle"></app-page-title>

        <app-notification (notDestroy)="onCloseNot()" *ngIf="error.length !== 0" [errorMessage]="error"></app-notification>

        <app-loader *ngIf="isLoading" size="medium"></app-loader>

        <div *ngIf="!isLoading" class="page-content-wrap">
            <app-search></app-search>

            <ul *ngIf="racks.length !== 0" class="cards-wrap">
                <li *ngFor="let rack of racks">
                    <app-product-card [product]="rack" cardType="rack"></app-product-card>
                </li>
            </ul>
            <h3 class="empty" *ngIf="racks.length === 0">NO PRODUCTS</h3>

        </div>
        <app-pagination *ngIf="!isLoading" [countPages]="6" [productCount]="count"></app-pagination>
    </div>
</section>
