@import "/src/app/shared/variables.scss";

.top-nav {
    background-color: $clr-gray-light;
}
.top-list-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-nav-list {
    display: flex;
    gap: 3rem;
}
.nav-link-top {
    position: relative;
    background: inherit;
    border: none;
    font-size: 1.25rem;
    color: $clr-dark;

    span {
        position: absolute;
        top: -10px;
        right: -10px;
        background: $clr-red;
        color: $clr-with;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
    }
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: $clr-dark;
}
.logo-img {
    margin: auto;
    margin-top: -20px;
}

.dropdown .dropdown-btn.user-icon{
    &::before {
        display: none;
    }
    &::after {
        display: none;
    }
}

.dropdown {
    position: relative;

    .dropdown-btn {
        border: none;
        padding: 0;
        background: transparent;
        display: flex;
        align-items: flex-end;

        &::before {
            content: "";
            position: absolute;
            right: -20px;
            bottom: 12px;
            width: 0;
            height: 0;
            border: solid $clr-dark;
            border-width: 0 4px 4px 0;
            padding: 4px;
            transform: rotate(45deg);
        }

        &:hover::before {
            border-bottom: 4px solid $clr-orange-light;
            border-right: 4px solid $clr-orange-light;
        }
    }

    .dropdown-content {
        position: absolute;
        top: 50px;
        left: -1rem;
        background: $clr-with;
        min-width: 180px;
        z-index: 1;

        a {
            display: block;
            padding: 1rem;
            border-bottom: 1px solid #ccc;

            &:not(:last-child) {
                padding-bottom: 0.3rem;
            }

            &:hover {
                background: rgb(204, 204, 204, 0.1);
            }
        }
    }

    .user-dropdown {
        top: 50px;
        left: -2.3rem;
        min-width: 110px;
        a {
            font-weight: 500;
        }
    }
}

.dropdown-open .dropdown-content {
    animation: slide-down 0.3s linear;
    display: block;
}
.dropdown-close .dropdown-content {
    display: none;
}

@media all and (max-width: 1200px) {
    .dropdown {

        .user-dropdown {
            left: -4.3rem;
        }
    }
}
@media all and (max-width: 1000px) {
    .top-list-wrap {
        padding: 0 1rem;
    }

    .logo {
        font-size: 1.5rem;
    }
    .logo-img {
        width: 2rem;
        margin-top: -15px;
    }

    .dropdown .user-dropdown {
        position: absolute;
        top: 50px;
        left: -3.3rem;
        background: $clr-with;
        a {
            width: 100%;
        }
    }
}

@media all and (max-width: 768px) {
    .dropdown {

        .user-dropdown {
            left: -5rem;
        }
    }
}

@media all and (max-width: 468px) {
    .top-nav-list {
        gap: 1.25rem;
    }
    .dropdown {

        .user-dropdown {
            left: -5rem;
        }
    }
}
@keyframes slide-down {
    0% {
        transform: translateY(-15%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
