<app-page-hero [heroPageTitle]="heroTitle"></app-page-hero>

<app-loader *ngIf="isLoading" size="medium"></app-loader>

<section *ngIf="!isLoading" class="details container">
    <app-page-title [pageTitle]="dumbbell.brand"></app-page-title>

    <div class="page-wrap">
        <app-details-page-header [product]="dumbbell"></app-details-page-header>

        <app-dumbbell-info [dumbbell]="dumbbell"></app-dumbbell-info>
    </div>
    <app-comment-list [productId]="productId" productName="Dumbbell"></app-comment-list>
</section>
