@import "/src/app/shared/variables.scss";


.content-wrap {
    background: $clr-with;
    margin-top: -3rem;
    position: relative;
}

.page-content-wrap {
    display: flex;
    gap: 1rem;
}


.cards-wrap {
    margin: 2rem auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,  minmax(15rem, 1fr));
}

@media all and (max-width: 1000px) {
    .cards-wrap {
        flex-direction: column;
        margin: 2rem 1rem;
    }
}

@media all and (max-width: 768px) {
    .page-content-wrap {
        flex-direction: column;
        gap: 0;
    }
    .cards-wrap {
        grid-template-columns: repeat(auto-fit,  minmax(14rem, 1fr));
    }

}
