<div class="filter-product">
    <h4 class="title-filter">BRAND</h4>
    <div class="checkbox-wrap">
        <input type="checkbox" />
        <label for="barbells">Nike</label>
    </div>
    <div class="checkbox-wrap">
        <input type="checkbox" />
        <label for="plates">Rogue</label>
    </div>
    <div class="checkbox-wrap">
        <input type="checkbox" />
        <label for="rigs&racks">Reebok</label>
    </div>
    <div class="checkbox-wrap">
        <input type="checkbox" />
        <label for="dumbbell">Goruck</label>
    </div>
</div>
