$clr-orange-solid: #e38229;
$clr-orange-light: #fc902e;
$clr-dark: #2a272a;
$clr-font-desc: #777;
$clr-gray-opacity: rgb(119, 119, 119, 0.5);
$clr-gray-light: #e4e4e4;
$clr-with: #fff;
$clr-red: #dd1e31;
