<div class="details-info-wrap">
    <div class="specification">
        <h3 class="specification-title">SPECIFICATIONS</h3>
        <ul class="specification-list" role="list">
            <li class="specification-item">
                <span class="bold-text">Brand</span>
                <span class="sub-text">{{dumbbell.brand}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Made in</span>
                <span class="sub-text">{{dumbbell.madeIn}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Material</span>
                <span class="sub-text">{{dumbbell.material}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Knurl</span>
                <span class="sub-text">{{dumbbell.knurl}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Range Of Available Weights</span>
                <span class="sub-text">{{dumbbell.rangeOfAvailableWeightsFrom}} to {{dumbbell.rangeOfAvailableWeightsTo}} kg</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Range Of Dumbbell Lengths</span>
                <span class="sub-text">{{dumbbell.rangeOfDumbbellLengthsFrom}} to {{dumbbell.rangeOfDumbbellLengthsTo}} mm</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Handle Diameter</span>
                <span class="sub-text">{{dumbbell.handleDiameterFrom}} to {{dumbbell.handleDiameterFrom}} mm</span>
            </li>
        </ul>
    </div>

    <div class="desc-wrap">
        <h3 class="desc-title">DESCRIPTION</h3>
        <p class="desc">{{dumbbell.description}}</p>
    </div>
</div>
