<app-page-hero [heroPageTitle]="heroTitle"></app-page-hero>

<div class="loader-wrap" *ngIf="isLoading">
    <app-loader size="medium"></app-loader>

</div>

<section *ngIf="!isLoading" class="details container">
    <app-page-title
        [pageTitle]="rack.brand"
    ></app-page-title>

    <div class="page-wrap">
        <app-details-page-header [product]="rack"></app-details-page-header>

        <app-rack-info [rack]="rack"></app-rack-info>
    </div>
    <app-comment-list [productId]="productId" productName="Rack"></app-comment-list>

</section>
