@import "/src/app/shared/variables.scss";

.hero {
    position: relative;
    background: url("../../../assets/hero-background.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgb(42, 39, 42, 0.3);
    }
}
.hero-title-wrap {
    position: relative;
    color: $clr-with;
    font-family: "Dosis", sans-serif;
    text-align: center;
    z-index: 1;
}
.hero-title {
    margin: 0;
    animation: showFromTop 1.5s 0s 1 normal forwards;
    font-size: 5rem;
}
.hero-sub-title {
    margin: 1rem 0;
    font-weight: normal;
    animation: showFromBottom 1.5s 0s 1 normal forwards;
    font-size: 4rem;
}

@media all and (max-width: 1000px) {
    .hero-title {
        font-size: 4rem;
    }
    .hero-sub-title {
        font-size: 3rem;
    }
}

@media all and (max-width: 768px) {
    .hero-title {
        font-size: 3rem;
    }
    .hero-sub-title {
        font-size: 2rem;
    }
}
