@import "/src/app/shared/variables.scss";

.nav-wrap {
    height: 5rem;
    background: $clr-with;
    margin-top: -3rem;
    margin-bottom: 2rem;
}

.nav {
    padding-top: 3rem;
    width: 80%;
    margin: auto;
}

.nav-list {
    border-top: 2px solid $clr-font-desc;
    border-bottom: 2px solid $clr-font-desc;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding: 1rem 0;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: bold;
    color: $clr-font-desc;
    transition: color 0.4s;
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
        color: $clr-orange-light;
    }
}

.active {
    border-top: 2px solid $clr-orange-light !important;
    border-bottom: 2px solid $clr-orange-light !important;
    color: $clr-orange-light;

}

.dropdown {
    position: relative;

    .dropdown-btn {
        border: none;
        padding: 0;
        background: transparent;
        display: flex;
        align-items: flex-end;

        &::before {
            content: "";
            position: absolute;
            right: -20px;
            bottom: 12px;
            width: 0;
            height: 0;
            border: solid $clr-font-desc;
            border-width: 0 4px 4px 0;
            padding: 4px;
            transform: rotate(45deg);
        }

        &:hover::before {
            border-bottom: 4px solid $clr-orange-light;
            border-right: 4px solid $clr-orange-light;
        }
    }

    .dropdown-content {
        position: absolute;
        top: 50px;
        left: -1rem;
        background: $clr-with;
        min-width: 180px;
        z-index: 1;

        a {
            display: block;
            padding: 1rem;
            border-bottom: 1px solid #ccc;
            background: rgb(204, 204, 204, 0.1);

            &:not(:last-child) {
                padding-bottom: 0.3rem;
            }

            &:hover {
                background: rgb(204, 204, 204, 0.2);
            }
        }
    }
}

.dropdown-open .dropdown-content {
    animation: slide-down 0.3s linear;
    display: block;
}
.dropdown-close .dropdown-content {
    display: none;
}

.dropdown-open .dropdown-btn {
    &::before {
        display: none;
    }

    &::after {
        content: "";
        position: absolute;
        right: -20px;
        top: 14px;
        width: 0;
        height: 0;
        border: solid $clr-font-desc;
        border-width: 0 4px 4px 0;
        padding: 4px;
        transform: rotate(225deg);
    }

    &:hover::after {
        border-bottom: 4px solid $clr-orange-light;
        border-right: 4px solid $clr-orange-light;
    }
}
