<section class="container nav-wrap">
    <nav class="nav">
        <ul class="nav-list" role="list">
            <li class="nav-list-item">
                <a
                    class="nav-link"
                    routerLink="/admin/statistic"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >Statistic</a
                >
            </li>
            <li class="nav-list-item">
                <a
                    class="nav-link"
                    routerLink="/admin/create/treadmill"
                    routerLinkActive="active"
                    >Create Treadmill</a
                >
            </li>
            <li class="nav-list-item">
                <a
                    class="nav-link"
                    routerLink="/admin/create/bike"
                    routerLinkActive="active"
                    >Create Bike</a
                >
            </li>
            <li class="nav-list-item">
                <a
                    class="nav-link"
                    routerLink="/admin/create/strength"
                    routerLinkActive="active"
                    >Create Strength</a
                >
            </li>
            <li class="nav-list-item">
                <a
                    class="nav-link"
                    routerLink="/admin/promotion"
                    routerLinkActive="active"
                    >Promotions</a
                >
            </li>
            <li class="nav-list-item">
                <a
                    class="nav-link"
                    routerLink="/admin/archived"
                    routerLinkActive="active"
                    >Archived Orders</a
                >
            </li>
            <li class="nav-list-item">
                <a
                    class="nav-link"
                    routerLink="/admin/edit"
                    routerLinkActive="active"
                    >Edit Product</a
                >
            </li>
        </ul>
    </nav>
</section>
