<section class="container nav-wrap">
    <nav class="nav">
        <ul class="nav-list" role="list">
            <li class="nav-list-item">
                <a
                    class="nav-link"
                    routerLink="/admin/statistic"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >Statistic</a
                >
            </li>
            <li class="nav-list-item">
                <a
                    class="nav-link"
                    routerLink="/admin/create/treadmill"
                    routerLinkActive="active"
                    >Create Treadmill</a
                >
            </li>
            <li class="nav-list-item">
                <a
                    class="nav-link"
                    routerLink="/admin/create/bike"
                    routerLinkActive="active"
                    >Create Bike</a
                >
            </li>
            <li
                class="nav-list-item dropdown"
                [ngClass]="
                    dropdownIsToggle ? 'dropdown-open' : 'dropdown-close'
                "
                appClickOutside
                (clickOutside)="handleOutsideClick()"
            >
                <button
                    class="nav-link dropdown-btn"
                    (click)="dropdownToggle()"
                    [ngClass]="dropdownIsActive.isActive ? 'active' : ''"
                >
                    Create Strength
                </button>
                <ul
                    class="dropdown-content"
                    role="list"
                    (click)="dropdownToggle()"
                >
                    <li>
                        <a
                            class="nav-link"
                            routerLink="/admin/create/rack"
                            routerLinkActive="acb"
                            #dropdownIsActive="routerLinkActive"
                            >Rack</a
                        >
                    </li>
                    <li>
                        <a
                            class="nav-link"
                            routerLink="/admin/create/bench"
                            routerLinkActive="aca"
                            #dropdownIsActive="routerLinkActive"
                            >Bench</a
                        >
                    </li>
                    <li>
                        <a
                            class="nav-link"
                            routerLink="/admin/create/dumbbell"
                            routerLinkActive="ac"
                            #dropdownIsActive="routerLinkActive"
                            >Dumbbell</a
                        >
                    </li>
                </ul>
            </li>
            <li class="nav-list-item">
                <a
                    class="nav-link"
                    routerLink="/admin/promotion"
                    routerLinkActive="active"
                    >Promotions</a
                >
            </li>
            <li class="nav-list-item">
                <a
                    class="nav-link"
                    routerLink="/admin/archived"
                    routerLinkActive="active"
                    >Archived Orders</a
                >
            </li>
        </ul>
    </nav>
</section>
