<app-page-hero [heroPageTitle]="heroTitle"></app-page-hero>

<section class="treadmill-list container">
    <div class="content-wrap">
        <app-page-title [pageTitle]="pageTitle"></app-page-title>

        <app-loader *ngIf="isLoading" size="medium"></app-loader>

        <div *ngIf="!isLoading" class="page-content-wrap">
            <app-search></app-search>
            <div class="cards-wrap">
                <app-product-card [cardType]="'bike'"></app-product-card>
                <app-product-card [cardType]="'bike'"></app-product-card>
                <app-product-card [cardType]="'bike'"></app-product-card>
                <app-product-card [cardType]="'bike'"></app-product-card>
                <app-product-card [cardType]="'bike'"></app-product-card>
                <app-product-card [cardType]="'bike'"></app-product-card>
                <app-product-card [cardType]="'bike'"></app-product-card>
                <app-product-card [cardType]="'bike'"></app-product-card>
                <app-product-card [cardType]="'bike'"></app-product-card>
                <app-product-card [cardType]="'bike'"></app-product-card>
                <app-product-card [cardType]="'bike'"></app-product-card>
                <app-product-card [cardType]="'bike'"></app-product-card>
                <app-product-card [cardType]="'bike'"></app-product-card>
                <app-product-card [cardType]="'bike'"></app-product-card>

            </div>
        </div>
    </div>
</section>
