<footer class="footer">
    <div class="footer-wrap container">
        <div class="footer-content">
            <div class="footer-info-section">
                <h4 class="title-section">ABOUT</h4>

                <ul class="footer-list-vertical" role="list">
                    <li class="footer-list-item"><a routerLink="/about-us">About us</a></li>
                    <li class="footer-list-item"><a routerLink="/about-us">Contact</a></li>
                </ul>
            </div>
            <div class="footer-info-section">
                <h4 class="title-section">PRODUCTS</h4>

                <ul class="footer-list-vertical" role="list">
                    <li class="footer-list-item">
                        <a
                            class="nav-link"
                            [routerLink]="'/treadmill'"
                            [queryParams]="{ page: 1 }"
                            >Treadmills</a
                        >
                    </li>
                    <li class="footer-list-item">
                        <a
                            class="nav-link"
                            [routerLink]="'/bike'"
                            [queryParams]="{ page: 1 }"
                            >Bikes</a
                        >
                    </li>
                    <li class="footer-list-item">
                        <a
                            class="nav-link"
                            [routerLink]="'/strength/rack'"
                            [queryParams]="{ page: 1 }"
                            >Racks</a
                        >
                    </li>
                    <li class="footer-list-item">
                        <a
                            class="nav-link"
                            [routerLink]="'/strength/bench'"
                            [queryParams]="{ page: 1 }"
                            >Benches</a
                        >
                    </li>
                    <li class="footer-list-item">
                        <a
                            class="nav-link"
                            [routerLink]="'/strength/dumbbell'"
                            [queryParams]="{ page: 1 }"
                            >Dumbbells</a
                        >
                    </li>
                </ul>
            </div>

            <div class="connect-wrap">
                <div class="footer-logo">
                    <a routerLink="/" class="logo"
                        >GYM
                        <img
                            class="logo-img"
                            src="../../../assets/809670_body building_fitness_sports_weight_icon.png"
                            alt=""
                        />
                    </a>
                </div>
                <h4 class="title-section">Connect</h4>

                <ul class="footer-list-horizontal" role="list">
                    <li class="footer-list-item">
                        <a class="connect-link" href="https://www.facebook.com">
                            <fa-icon
                                class="connect-icon-links"
                                [icon]="icons.faFacebook"
                            ></fa-icon>
                        </a>
                    </li>
                    <li class="footer-list-item">
                        <a class="connect-link" href='https://www.instagram.com'>
                            <fa-icon
                                class="connect-icon-links"
                                [icon]="icons.faTwitter"
                            ></fa-icon>
                        </a>
                    </li>
                    <li class="footer-list-item">
                        <a class="connect-link" href='https://www.instagram.com'>
                            <fa-icon
                                class="connect-icon-links"
                                [icon]="icons.faInstagram"
                            ></fa-icon>
                        </a>
                    </li>
                    <li class="footer-list-item">
                        <a class="connect-link" href='https://www.pinterest.com'>
                            <fa-icon
                                class="connect-icon-links"
                                [icon]="icons.faPinterest"
                            ></fa-icon>
                        </a>
                    </li>
                    <li class="footer-list-item">
                        <a class="connect-link" href='https://www.google.com'>
                            <fa-icon
                                class="connect-icon-links"
                                [icon]="icons.faGoogle"
                            ></fa-icon>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer-info-section">
                <h4 class="title-section">POLICIES & NOTICES</h4>

                <ul class="footer-list-vertical" role="list">
                    <li class="footer-list-item">
                        <a routerLink="/terms-and-conditions">Recall Information</a>
                    </li>
                    <li class="footer-list-item">
                        <a routerLink="/terms-and-conditions">Privacy Policy</a>
                    </li>
                    <li class="footer-list-item">
                        <a routerLink="/terms-and-conditions">Terms of Use</a>
                    </li>
                    <li class="footer-list-item">
                        <a routerLink="/terms-and-conditions">Accessibility</a>
                    </li>
                </ul>
            </div>
            <div class="footer-info-section">
                <h4 class="title-section">CONTACT US</h4>

                <ul class="footer-list-vertical" role="list">
                    <li class="footer-list-item">Tel: (012) 359-123-123</li>
                    <li class="footer-list-item">Fax: (012) 359-123-111</li>
                    <li class="footer-list-item">
                        <p>GYM Equipment Ltd.</p>
                        <p>1000 Sofia</p>
                        <p>Vasil Levski 21</p>
                    </li>
                </ul>
            </div>
        </div>
        <p class="reserved">
            &copy;Education purpose only! No rights reserved!
        </p>
    </div>
</footer>
