@import "/src/app/shared/variables.scss";

.form-container {
    max-width: 600px;
    margin: 3rem auto;
}

.form {
    border: 1px solid $clr-gray-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    position: relative;
}

.title {
    position: absolute;
    top: -20px;
    background: $clr-with;
    padding: 0 7rem;
    font-size: 1.5rem;
    border-bottom: 1px solid $clr-gray-light;
    font-weight: 400;
}



.input-row {
    position: relative;
    width: 100%;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}

.input-field {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid $clr-gray-light;
    outline: none;
    border-radius: 3px;

    &:hover {
        border: 1px solid $clr-dark;
    }

    &:focus {
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.47);
        border: 1px solid $clr-dark;
    }
}

.input-err {
    border: 1px solid $clr-red;

    &:hover {
        border: 1px solid $clr-red;
    }

    &:focus {
        box-shadow: 0px 0px 3px 1px rgba(221, 30, 49, 0.47);
    }
}

.error {
    color: $clr-red;
}

.btn-wrap {
    margin-bottom: 1rem;
}

.btn-wrap-edit {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    .btn-delete {
        border: none;
        color: $clr-with;
        width: 130px;
        height: 36px;
        background: $clr-red;
        font-weight: 400;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: inherit;
            color: $clr-red;
            border: 1px solid $clr-red;
        }
    }
    .btn-edit {
        border: none;
        color: white;
        width: 130px;
        height: 36px;
        font-weight: 400;
        background: #369729;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: inherit;
            color: #369729;
            border: 1px solid #369729;
        }
    }
}


@media all and (max-width: 768px) {
    .form {
        margin: 3rem 1rem;
        padding: 2rem 1rem;
    }

    .title {
        padding: 0 3rem;
        font-size: 1.2rem;
    }

    .btn-checkout {
        font-size: none;
        padding: 8px 2rem;
    }

    .btn-wrap-edit {
        .btn-delete {
            width: 84px;
            height: 32px;

            transition: none;
        }
        .btn-edit {

            width: 84px;
            height: 32px;
            transition: none;

        }
    }
}
