<article class="card">
    <div class="card-img-wrap" [ngClass]="isHomeSale ? 'home-card-wrap' : null">
        <a routerLink="/{{cardType}}/{{product._id}}">
            <img
                src="{{product.images[0].url | mixedContent }}"
                alt="image"
                class="card-image"
            />
        </a>
    </div>

    <app-rating [showCount]="true" [product]="product"></app-rating>

    <h4 class="card-title">{{product.brand}}</h4>
    <p [ngClass]="hasPromo ? 'card-price-old' : 'out-promo'">${{product.price}}</p>
    <p *ngIf="hasPromo" class="card-price-new">${{product.promoPrice}}</p>
</article>
