<div class="details-info-wrap">
    <div class="specification">
        <h3 class="specification-title">SPECIFICATIONS</h3>
        <ul class="specification-list" role="list">
            <li class="specification-item">
                <span class="bold-text">Brand</span>
                <span class="sub-text">Matrix</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Made in</span>
                <span class="sub-text">USA</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Material</span>
                <span class="sub-text">Metal, Plastics</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Length</span>
                <span class="sub-text">1430mm</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Equipment Weight</span>
                <span class="sub-text">50kg</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Adjustable Leveling Feet</span>
                <span class="sub-text">210mm</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Resistance System</span>
                <span class="sub-text">Some System</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Transport Wheels</span>
                <span class="sub-text">Yes</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Connectivity</span>
                <span class="sub-text">Yes</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Min User Length</span>
                <span class="sub-text">145cm</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Max User Length</span>
                <span class="sub-text">205cm</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Display</span>
                <span class="sub-text">50X100</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Available Languages</span>
                <span class="sub-text">English, German, Italian, Spain</span>
            </li>
        </ul>
    </div>

    <div class="desc-wrap">
        <h3 class="desc-title">DESCRIPTION</h3>
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero,
            delectus consequuntur? Perferendis, impedit! Nisi dignissimos quas
            accusamus rerum facere incidunt aut, corporis, omnis est voluptas
            doloremque maiores perferendis fugit eos deserunt sequi obcaecati
            laudantium ab totam nesciunt, deleniti in pariatur. Sunt blanditiis
            magnam dignissimos quos est laborum nobis quae ipsa harum. Porro
            inventore voluptas non neque dolores qui eius nulla dolorum saepe!
            Quidem ducimus enim eos sapiente officia dolorem iusto totam
            nostrum, voluptatem consequatur assumenda minus expedita officiis
            quo quibusdam ratione adipisci autem illum voluptas tempore
            perferendis. Explicabo esse, assumenda optio, voluptatem voluptas
            fugiat sequi quo, provident debitis nesciunt omnis?
        </p>
    </div>
</div>
