<div class="details-info-wrap">
    <div class="specification">
        <h3 class="specification-title">SPECIFICATIONS</h3>
        <ul class="specification-list" role="list">
            <li class="specification-item">
                <span class="bold-text">Brand</span>
                <span class="sub-text">{{bike.brand}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Made in</span>
                <span class="sub-text">{{bike.madeIn}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Material</span>
                <span class="sub-text">{{bike.material}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Length</span>
                <span class="sub-text">{{bike.lengthBike}}mm</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Equipment Weight</span>
                <span class="sub-text">{{bike.equipmentWeight}}kg</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Adjustable Leveling Feet</span>
                <span class="sub-text">{{bike.adjustableLevelingFeet}}mm</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Resistance System</span>
                <span class="sub-text">{{bike.resistanceSystem}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Transport Wheels</span>
                <span class="sub-text">{{bike.transportWheels}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Min User Length</span>
                <span class="sub-text">{{bike.minUserLength}}cm</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Max User Length</span>
                <span class="sub-text">{{bike.maxUserLength}}cm</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Display</span>
                <span class="sub-text">{{bike.display}} in.</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Available Languages</span>
                <span class="sub-text">{{bike.availableLanguages}}</span>
            </li>
        </ul>
    </div>

    <div class="desc-wrap">
        <h3 class="desc-title">DESCRIPTION</h3>
        <p class="desc">{{bike.description}}</p>
    </div>
</div>
