<div class="details-info-wrap">
    <div class="specification">
        <h3 class="specification-title">SPECIFICATIONS</h3>
        <ul class="specification-list" role="list">
            <li class="specification-item">
                <span class="bold-text">Brand</span>
                <span class="sub-text">Life Fitness</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Made in</span>
                <span class="sub-text">China</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Material</span>
                <span class="sub-text">Metal, Plastics</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Dimension</span>
                <span class="sub-text">138mmX68mmX240mm</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Equipment Weight</span>
                <span class="sub-text">10kg</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Running Surface</span>
                <span class="sub-text">50mmX200mmX100mm</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Motor Power</span>
                <span class="sub-text">220v,2000w</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Min Speed</span>
                <span class="sub-text">0.5km/h</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Max Speed</span>
                <span class="sub-text">20km/h</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Include Min</span>
                <span class="sub-text">0%</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Include Max</span>
                <span class="sub-text">60%</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Available Languages</span>
                <span class="sub-text">English, German, Italian, Spain</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Display</span>
                <span class="sub-text">200X180</span>
            </li>
        </ul>
    </div>

    <div class="desc-wrap">
        <h3 class="desc-title">DESCRIPTION</h3>
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero,
            delectus consequuntur? Perferendis, impedit! Nisi dignissimos quas
            accusamus rerum facere incidunt aut, corporis, omnis est voluptas
            doloremque maiores perferendis fugit eos deserunt sequi obcaecati
            laudantium ab totam nesciunt, deleniti in pariatur. Sunt blanditiis
            magnam dignissimos quos est laborum nobis quae ipsa harum. Porro
            inventore voluptas non neque dolores qui eius nulla dolorum saepe!
            Quidem ducimus enim eos sapiente officia dolorem iusto totam
            nostrum, voluptatem consequatur assumenda minus expedita officiis
            quo quibusdam ratione adipisci autem illum voluptas tempore
            perferendis. Explicabo esse, assumenda optio, voluptatem voluptas
            fugiat sequi quo, provident debitis nesciunt omnis?
        </p>
    </div>
</div>
