<div class="details-info-wrap">
    <div class="specification">
        <h3 class="specification-title">SPECIFICATIONS</h3>
        <ul class="specification-list" role="list">
            <li class="specification-item">
                <span class="bold-text">Brand</span>
                <span class="sub-text">{{treadmill.brand}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Made in</span>
                <span class="sub-text">{{treadmill.madeIn}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Material</span>
                <span class="sub-text">{{treadmill.material}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Dimension</span>
                <span class="sub-text">{{treadmill.dimensions}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Equipment Weight</span>
                <span class="sub-text">{{treadmill.equipmentWeight}}kg</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Display</span>
                <span class="sub-text">{{treadmill.display}}in.</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Motor Power</span>
                <span class="sub-text">{{treadmill.motorPower}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Min Speed</span>
                <span class="sub-text">{{treadmill.minSpeed}}km/h</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Max Speed</span>
                <span class="sub-text">{{treadmill.maxSpeed}}km/h</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Include Min</span>
                <span class="sub-text">{{treadmill.inclineMin}}%</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Include Max</span>
                <span class="sub-text">{{treadmill.inclineMax}}%</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Available Languages</span>
                <span class="sub-text">{{treadmill.availableLanguages}}</span>
            </li>
        </ul>
    </div>

    <div class="desc-wrap">
        <h3 class="desc-title">DESCRIPTION</h3>
        <p class="desc">{{treadmill.description}}</p>
    </div>
</div>
