<section class="gallery container">
    <div class="images-container">
        <div class="img-wrap">
            <img src="../../../assets/gallery1.jpg" alt="image.jpg" />
        </div>
        <div class="one img-wrap">
            <img src="../../../assets/gallery2.jpg" alt="image.jpg" />
        </div>
        <div class="img-wrap">
            <img src="../../../assets/gallery3.jpg" alt="image.jpg" />
        </div>
        <div class="img-wrap">
            <img src="../../../assets/gallery4.jpg" alt="image.jpg" />
        </div>
    </div>
</section>
