<app-page-hero [heroPageTitle]="heroTitle"></app-page-hero>

<section class="contact container">
    <article class="title-wrapper">
        <h3 class="title">About GYM Equipment</h3>
    </article>
    <article class="p-wrapper">
        <p class="p-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
            voluptates libero delectus officiis. Impedit quaerat natus soluta
            tenetur voluptatem quidem harum. Hic officiis amet omnis quos ea
            voluptatem laudantium perferendis veritatis et aperiam, molestias,
            recusandae magnam nulla, ut a. Ipsam, dignissimos itaque aliquid
            nostrum cupiditate omnis doloribus ut quasi blanditiis? Eum
            recusandae voluptatum non reiciendis eveniet incidunt laboriosam
            doloribus nihil, debitis corporis sequi aut amet iste inventore
            ratione impedit adipisci sunt neque voluptatibus ut! Fugiat corrupti
            voluptates reiciendis accusantium voluptate quidem eveniet alias
            velit ducimus eligendi quae est beatae dolore numquam quaerat sit,
            officiis laboriosam, nobis labore eius nesciunt praesentium? Laborum
            repellendus minima odio velit minus modi doloremque voluptatum et
            debitis, vel voluptate architecto eius numquam distinctio? Excepturi
            repellat labore placeat eligendi libero distinctio exercitationem
            accusamus recusandae a, debitis eaque aspernatur doloribus quos quis
            minus ullam! Voluptates quos ipsum reprehenderit. Omnis iste modi
            officia esse fugit reiciendis perferendis tenetur dolorem. Aliquid
            magni in ullam, accusantium non voluptates error ducimus. Sed
            deserunt vitae doloremque voluptate sapiente voluptatum quam
            inventore fuga eveniet, iste, neque eius recusandae quisquam rem
            distinctio id vel! Saepe quam possimus doloremque recusandae
            necessitatibus labore corrupti reprehenderit in, sequi ut odit
            quisquam ducimus quod praesentium cumque repudiandae ab. Iusto.
        </p>
    </article>
    <article class="title-wrapper">
        <h3 class="title">Contact</h3>
    </article>
    <section class="info">
        <article class="address-card">
            <p class="p-info">
                <span class="bold-text">Address:</span> Via L.Serena, 9, 30175
                Venezia VE, Italy
            </p>
            <p class="p-info">
                <span class="bold-text">Working hours: </span>Mo-Fr: 8:00-20:00
            </p>
            <p class="p-info">
                <span class="bold-text">Phone: </span> +01 234 567
            </p>
        </article>
        <div class="map-wrapper">
            <iframe
                width="350"
                height="350"
                frameborder="0"
                style="border: 0"
                referrerpolicy="no-referrer-when-downgrade"
                src="http://maps.google.com/maps?q=45.4751976,12.2293536&z=16&output=embed"
                allowfullscreen
            >
            </iframe>
        </div>
    </section>
</section>
