<article class="wishlist-card">
    <div class="img-wrap">
        <a routerLink="/treadmill/details">
            <img
                src="../../../assets/ambitious-creative-co-rick-barrett-YiMP5EGR670-unsplash.jpg"
                alt=""
            />
        </a>
    </div>
    <p class="name">Fitness Lorem</p>
    <div class="price-wrap">
        <p class="price-old">$900</p>
        <p class="price-new">$700</p>
    </div>
        <button class="btn-watch">
            <fa-icon class="faDumbbell" [icon]="faXmark"></fa-icon>
        </button>
</article>
