<article class="wishlist-card">
    <div class="img-wrap cell">
        <a routerLink="/{{product.productType}}/{{product._id}}">
            <img
                src="{{product.images[0].url}}"
                alt="image"
            />
        </a>
    </div>
    <p class="name cell">{{product.brand}}</p>
    <div class="price-wrap cell">
        <p [ngClass]="hasPromo ? 'price-old' : 'out-promo'">${{product.price}}</p>
        <p *ngIf="hasPromo" class="price-new">${{product.promoPrice}}</p>
    </div>
    <div class="btn-wrap cell">
        <button (click)="onClickCart()" class="btn-wishlist">
            <fa-icon class="faCartArrowDown" [icon]="icons.faCartArrowDown"></fa-icon>
        </button>
        <button (click)="onClickRemove()" class="btn-wishlist">
            <fa-icon class="faXmark" [icon]="icons.faXmark"></fa-icon>
        </button>
    </div>
</article>
