<div class="container">
    <article class="comment">
        <div class="comment-content">
            <div class="user-rating">
                <p class="username">Joe Doe</p>
                <app-rating></app-rating>
            </div>
            <p class="comment-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Explicabo unde magni eveniet facere est qui dolorem mollitia,
                consequatur facilis perspiciatis!
            </p>
        </div>
    </article>
</div>
