@import "/src/app/shared/variables.scss";

.comment {
    border-bottom: 2px solid $clr-font-desc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-content {
    padding-top: 1rem;
    display: flex;
}

.user-rating {
    min-width: 100px;

    .username {
        font-weight: 500;
    }
}

.comment-text {
    padding: 0 1rem;
}

.btn-wrap {
    display: flex;
    flex-direction: column;
}

.comment-btn {
    border: none;
    background: inherit;
    font-size: 1.3rem;
}

.edit-btn {
    color: rgb(5, 121, 5);
    &:hover {
        opacity: 0.8;
    }
}

.trash-btn {
    color: $clr-red;
    &:hover {
        opacity: 0.8;
    }
}

@media all and (max-width: 768px) {
    .comment {
        flex-direction: column;
    }
    .user-rating {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .comment-content {
        flex-direction: column;
    }

    .comment-text {
        text-align: center;
        padding: 0 1rem;
    }

    .btn-wrap {
        flex-direction: row;
        margin-top: 1rem;
        gap: 1rem
    }
}
