@import "/src/app/shared/variables.scss";

.comment-wrap {
    border-bottom: 2px solid $clr-font-desc;
}
.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-content {
    padding-top: 1rem;
    display: flex;
}

.user-rating {
    min-width: 100px;

    .username {
        font-weight: 500;
    }
}

.comment-text {
    padding: 0 1rem;
}

.btn-wrap {
    display: flex;
    flex-direction: column;
}

.comment-btn {
    border: none;
    background: inherit;
    font-size: 1.3rem;
}

.edit-btn {
    color: rgb(5, 121, 5);
    &:hover {
        opacity: 0.8;
    }
}

.trash-btn {
    color: $clr-red;
    &:hover {
        opacity: 0.8;
    }
}

.delete-confirm-wrap {
    text-align: center;
    font-weight: 400;
    p {
        margin-top: 0.5rem;
        font-size: 1.2rem;
    }
}

.delete-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0 2rem 0;

    button {
        border: none;
        padding: 4px 8px;
        letter-spacing: 2px;

        &:hover {
            opacity: 0.8;
        }
    }

    .btn-cancel {
        background-color: #369729;
        color: $clr-with;
    }
    .btn-delete {
        background-color: $clr-red;
        color: $clr-with;
    }
}

@media all and (max-width: 768px) {
    .comment {
        flex-direction: column;
    }
    .user-rating {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .comment-content {
        flex-direction: column;
    }

    .comment-text {
        text-align: center;
        padding: 0 1rem;
    }

    .btn-wrap {
        flex-direction: row;
        margin-top: 1rem;
        gap: 1rem;
    }
}
