<div class="container comment-wrap">
    <ng-container *ngIf="isEditForm">
        <app-comment-create (closeForm)="editCommentHandler()" [editCommentId]="comment._id"></app-comment-create>
    </ng-container>
    <div *ngIf="isDelete && !formIsOpen" class="delete-confirm-wrap">
        <p>You are sure?</p>
        <div class="delete-btn-wrap">
            <button (click)="clickDelete()" class="btn-cancel">Cancel</button>
            <button (click)="deleteCommentHandler()" class="btn-delete">Delete</button>
        </div>
    </div>
    <article *ngIf="!isEditForm && !isDelete" class="comment">
        <div class="comment-content">
            <div class="user-rating">
                <p class="username">{{ comment.name }}</p>
                <app-rating
                    [showCount]="false"
                    [comment]="comment"
                ></app-rating>
            </div>
            <p class="comment-text">{{ comment.comment }}</p>
        </div>
        <div *ngIf="isOwner && !formIsOpen"  class="btn-wrap">
            <button (click)="editCommentHandler()" type="button" class="comment-btn edit-btn">
                <fa-icon class="faDumbbell" [icon]="icons.faFilePen"></fa-icon>
            </button>
            <button (click)="clickDelete()" type="button" class="comment-btn trash-btn">
                <fa-icon class="faDumbbell" [icon]="icons.faTrashCan"></fa-icon>
            </button>
        </div>
    </article>
</div>
