@import "/src/app/shared/variables.scss";

.details {
    margin: -3rem auto 12rem auto;
    background: $clr-with;
}
.loader-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
