<app-page-hero [heroPageTitle]="heroTitle"></app-page-hero>

<app-notification (notDestroy)="onCloseNot()" *ngIf="error?.length !== 0" [message]="error"></app-notification>

<app-loader *ngIf="isLoading" size="'medium'"></app-loader>

<section *ngIf="!isLoading" class="details container">
    <app-page-title
        [pageTitle]="treadmill.brand"
    ></app-page-title>

    <div class="page-wrap">
        <app-details-page-header [product]="treadmill"></app-details-page-header>

        <app-treadmill-info [treadmill]="treadmill"></app-treadmill-info>
    </div>
    <app-comment-list [productId]="productId" productName="Treadmill"></app-comment-list>
</section>
