<app-page-hero [heroPageTitle]="heroTitle"></app-page-hero>

<section class="details container">
    <app-page-title
        [pageTitle]="'ROGUE KG COMPETITION PLATES'"
    ></app-page-title>

    <div class="page-wrap">
        <app-slider [images]="images"></app-slider>

        <div class="info-content">
            <div class="btn-wrap">
                <button class="btn-detail btn-add">
                    Add To Cart
                    <fa-icon
                        class="btn-icon"
                        [icon]="icons.faCartPlus"
                    ></fa-icon>
                </button>
                <button class="btn-detail btn-buy">
                    Watch This Item
                    <fa-icon class="btn-icon" [icon]="icons.faHeart"></fa-icon>
                </button>
            </div>
            <div class="rating-price-wrap">
                <app-rating [showCount]="true"></app-rating>

                <p class="price-wrap">
                    <span class="normal-price">$920</span>
                    <span class="sale">$700</span>
                </p>
            </div>

            <div class="info-desc-wrap">
                <div class="info">
                    <h3 class="info-title">SPECIFICATIONS</h3>
                    <ul class="info-list" role="list">
                        <li class="info-item">
                            <span class="bold-text">Brand</span>
                            <span class="sub-text">Life Fitness</span>
                        </li>
                        <li class="info-item">
                            <span class="bold-text">Made in</span>
                            <span class="sub-text">China</span>
                        </li>
                        <li class="info-item">
                            <span class="bold-text">Material</span>
                            <span class="sub-text">Metal, Plastics</span>
                        </li>
                        <li class="info-item">
                            <span class="bold-text">Dimension</span>
                            <span class="sub-text">138mmX68mmX240mm</span>
                        </li>
                        <li class="info-item">
                            <span class="bold-text">Equipment Weight</span>
                            <span class="sub-text">10kg</span>
                        </li>
                        <li class="info-item">
                            <span class="bold-text">Running Surface</span>
                            <span class="sub-text">50mmX200mmX100mm</span>
                        </li>
                        <li class="info-item">
                            <span class="bold-text">Motor Power</span>
                            <span class="sub-text">220v,2000w</span>
                        </li>
                        <li class="info-item">
                            <span class="bold-text">Min Speed</span>
                            <span class="sub-text">0.5km/h</span>
                        </li>
                        <li class="info-item">
                            <span class="bold-text">Max Speed</span>
                            <span class="sub-text">20km/h</span>
                        </li>
                        <li class="info-item">
                            <span class="bold-text">Include Min</span>
                            <span class="sub-text">0%</span>
                        </li>
                        <li class="info-item">
                            <span class="bold-text">Include Max</span>
                            <span class="sub-text">60%</span>
                        </li>
                        <li class="info-item">
                            <span class="bold-text">Available Languages</span>
                            <span class="sub-text"
                                >English, German, Italian, Spain</span
                            >
                        </li>
                    </ul>
                </div>
                <div class="desc-wrap">
                    <h3 class="desc-title">DESCRIPTION</h3>
                    <p class="desc">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Vero, delectus consequuntur? Perferendis, impedit!
                        Nisi dignissimos quas accusamus rerum facere incidunt
                        aut, corporis, omnis est voluptas doloremque maiores
                        perferendis fugit eos deserunt sequi obcaecati
                        laudantium ab totam nesciunt, deleniti in pariatur. Sunt
                        blanditiis magnam dignissimos quos est laborum nobis
                        quae ipsa harum. Porro inventore voluptas non neque
                        dolores qui eius nulla dolorum saepe! Quidem ducimus
                        enim eos sapiente officia dolorem iusto totam nostrum,
                        voluptatem consequatur assumenda minus expedita officiis
                        quo quibusdam ratione adipisci autem illum voluptas
                        tempore perferendis. Explicabo esse, assumenda optio,
                        voluptatem voluptas fugiat sequi quo, provident debitis
                        nesciunt omnis?
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="comments">
        <h3 class="comments-title">REVIEWS</h3>

        <div class="review-count">
            <p>1-8 of 50 Reviews</p>
            <button>Add Comment</button>
        </div>

        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
    </div>
</section>
