<header class="header" appClickOutside (clickOutside)="handleOutsideClick()">
    <div class="top-nav">
        <div class="top-list-wrap container">
            <div class="logo-wrap">
                <a routerLink="/" class="logo"
                    >GYM
                    <img
                        class="logo-img"
                        src="../../../assets/809670_body building_fitness_sports_weight_icon.png"
                        alt=""
                    />
                </a>
            </div>
            <ul role="list" class="top-nav-list">
                <li class="nav-list-item">
                    <a
                        routerLink="/user/wishlist"
                        class="nav-link-top"
                        ><fa-icon
                            class="faHeart"
                            [icon]="icons.faHeart"
                        ></fa-icon>
                    </a>
                </li>
                <li class="nav-list-item">
                    <a
                        routerLink="/user/cart"
                        class="nav-link-top"
                        ><fa-icon
                            class="faCartShopping"
                            [icon]="icons.faCartShopping"
                        ></fa-icon>
                        <span *ngIf="(cart$ | async)?.length || 0 > 0" class="cart-count">{{(cart$ | async)?.length}}</span>
                    </a>
                </li>
                <li class="nav-list-item" *ngIf="user$ | async">
                    <a
                        routerLink="/user/{{ (user$ | async)?._id }}"
                        class="nav-link-top"
                        ><fa-icon
                            class="faUser"
                            [icon]="icons.faUser"
                        ></fa-icon>
                    </a>
                </li>
                <li
                    class="nav-list-item dropdown"
                    [ngClass]="
                        accountIsToggle ? 'dropdown-open' : 'dropdown-close'
                    "
                    *ngIf="!(user$ | async)"
                >
                    <button
                        class="nav-link-top dropdown-btn user-icon"
                        (click)="dropdownToggle('account')"
                    >
                        <fa-icon
                            class="faUser"
                            [icon]="icons.faUseRegular"
                        ></fa-icon>
                    </button>

                    <ul class="dropdown-content user-dropdown" role="list">
                        <li class="nav-list-item">
                            <a
                                routerLink="/auth/login"
                                class="nav-link-top"
                                (click)="handleOutsideClick()"
                                >Login
                            </a>
                        </li>
                        <li class="nav-list-item">
                            <a
                                routerLink="/auth/register"
                                class="nav-link-top"
                                (click)="handleOutsideClick()"
                                >Register
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-list-item" *ngIf="(user$ | async)?.isAdmin">
                    <a routerLink="/admin" class="nav-link-top">
                        <fa-icon
                            class="faUser"
                            [icon]="icons.faGears"
                        ></fa-icon>
                    </a>
                </li>
                <li class="nav-list-item" *ngIf="user$ | async">
                    <button class="nav-link-top" (click)="logout()">
                        <fa-icon
                            class="faArrowRightFromBracket"
                            [icon]="icons.faArrowRightFromBracket"
                        ></fa-icon>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav-wrap container" [ngClass]="menuIsToggle ? 'menu-open' : ''">
        <nav class="nav">
            <div class="hamburger-menu" (click)="menuToggle()">
                <span class="bar bar1"></span>
                <span class="bar bar2"></span>
                <span class="bar bar3"></span>
                <span class="bar bar4"></span>
            </div>
            <ul class="nav-list" role="list">
                <li class="list-item-icon">
                    <img
                        class="sale-icon"
                        src="../../../assets/sale-icon.ico"
                        alt="sale-icon"
                    />

                    <a
                        class="nav-link"
                        [routerLink]="'/promotion'"
                        [queryParams]="{ page: 1 }"
                        (click)="menuToggle()"
                        >SALES</a
                    >
                </li>
                <li>
                    <a
                        class="nav-link"
                        [routerLink]="'/treadmill'"
                        [queryParams]="{ page: 1 }"
                        (click)="menuToggle()"
                        >TREADMILLS</a
                    >
                </li>
                <li>
                    <a
                        class="nav-link"
                        [routerLink]="'/bike'"
                        [queryParams]="{ page: 1 }"
                        (click)="menuToggle()"
                        >BIKES</a
                    >
                </li>
                <li
                    class="nav-list-item dropdown"
                    [ngClass]="
                        strengthIsToggle ? 'dropdown-open' : 'dropdown-close'
                    "
                >
                    <button
                        class="nav-link dropdown-btn"
                        (click)="dropdownToggle('strength')"
                    >
                        STRENGTH
                    </button>
                    <ul class="dropdown-content" role="list">
                        <li>
                            <a
                                class="nav-link"
                                [routerLink]="'/strength/rack'"
                                [queryParams]="{ page: 1 }"
                                (click)="menuToggle()"
                                >Racks</a
                            >
                        </li>
                        <li>
                            <a
                                class="nav-link"
                                [routerLink]="'/strength/bench'"
                                [queryParams]="{ page: 1 }"
                                (click)="menuToggle()"
                                >Benches</a
                            >
                        </li>
                        <li>
                            <a
                                class="nav-link"
                                [routerLink]="'/strength/dumbbell'"
                                [queryParams]="{ page: 1 }"
                                (click)="menuToggle()"
                                >Dumbbells</a
                            >
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
