<header class="header">
    <div class="nav-wrap container" [ngClass]="menuIsToggle ? 'menu-open' : ''">
        <div class="logo-wrap">
            <a routerLink="/" class="logo"
                >GYM
                <img
                    class="logo-img"
                    src="../../../assets/809670_body building_fitness_sports_weight_icon.png"
                    alt=""
                />
            </a>
        </div>
        <nav class="nav" appClickOutside (clickOutside)="handleOutsideClick()">
            <div class="hamburger-menu" (click)="menuToggle()">
                <span class="bar bar1"></span>
                <span class="bar bar2"></span>
                <span class="bar bar3"></span>
                <span class="bar bar4"></span>
            </div>
            <ul class="nav-list" role="list">
                <li>
                    <a
                        class="nav-link"
                        [routerLink]="'/treadmill'" [queryParams]="{page: 1}"
                        (click)="menuToggle()"
                        >TREADMILLS</a
                    >
                </li>
                <li>
                    <a
                        class="nav-link"
                        [routerLink]="'/bike'" [queryParams]="{page: 1}"
                        (click)="menuToggle()"
                        >BIKES</a
                    >
                </li>
                <li
                    class="nav-list-item dropdown"
                    [ngClass]="
                        strengthIsToggle ? 'dropdown-open' : 'dropdown-close'
                    "
                >
                    <button
                        class="nav-link dropdown-btn"
                        (click)="dropdownToggle('strength')"
                    >
                        STRENGTH
                    </button>
                    <ul class="dropdown-content" role="list">
                        <li>
                            <a
                                class="nav-link"
                                [routerLink]="'/strength/rack'" [queryParams]="{page: 1}"
                                (click)="menuToggle()"
                                >Racks</a
                            >
                        </li>
                        <li>
                            <a
                                class="nav-link"
                                [routerLink]="'/strength/bench'" [queryParams]="{page: 1}"
                                (click)="menuToggle()"
                                >Benches</a
                            >
                        </li>
                        <li>
                            <a
                                class="nav-link"
                                [routerLink]="'/strength/dumbbell'" [queryParams]="{page: 1}"
                                (click)="menuToggle()"
                                >Dumbbells</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="nav-list-item">
                    <a
                        routerLink="/user/checkout"
                        class="nav-link"
                        (click)="menuToggle()"
                        >CHECKOUT
                    </a>
                </li>
                <li
                    class="nav-list-item dropdown"
                    [ngClass]="
                        accountIsToggle ? 'dropdown-open' : 'dropdown-close'
                    "
                    *ngIf="!(user$ | async)"
                >
                    <button
                        class="nav-link dropdown-btn"
                        (click)="dropdownToggle('account')"
                    >
                        ACCOUNT
                    </button>

                    <ul class="dropdown-content" role="list">
                        <li class="nav-list-item">
                            <a
                                routerLink="/auth/login"
                                class="nav-link"
                                (click)="menuToggle()"
                                >Login
                            </a>
                        </li>
                        <li class="nav-list-item">
                            <a
                                routerLink="/auth/register"
                                class="nav-link"
                                (click)="menuToggle()"
                                >Register
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-list-item" *ngIf="(user$ | async)?.isAdmin">
                    <a
                        routerLink="/admin"
                        class="nav-link"
                        >ADMIN
                    </a>
                </li>
                <li class="nav-list-item" *ngIf="(user$ | async)">
                    <a
                        class="nav-link"
                        (click)="logout()"
                        >LOGOUT
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
