<app-page-hero [heroPageTitle]="heroTitle"></app-page-hero>

<section class="container">
    <div class="content-wrap">
        <app-page-title [pageTitle]="pageTitle"></app-page-title>
        <div class="page-content-wrap">
            <app-search></app-search>
            <div class="cards-wrap">
                <app-product-card [cardType]="'strength/bench'"></app-product-card>
                <app-product-card [cardType]="'strength/bench'"></app-product-card>
                <app-product-card [cardType]="'strength/bench'"></app-product-card>
                <app-product-card [cardType]="'strength/bench'"></app-product-card>
                <app-product-card [cardType]="'strength/bench'"></app-product-card>
                <app-product-card [cardType]="'strength/bench'"></app-product-card>
                <app-product-card [cardType]="'strength/bench'"></app-product-card>
                <app-product-card [cardType]="'strength/bench'"></app-product-card>
                <app-product-card [cardType]="'strength/bench'"></app-product-card>
                <app-product-card [cardType]="'strength/bench'"></app-product-card>
                <app-product-card [cardType]="'strength/bench'"></app-product-card>
                <app-product-card [cardType]="'strength/bench'"></app-product-card>
                <app-product-card [cardType]="'strength/bench'"></app-product-card>
                <app-product-card [cardType]="'strength/bench'"></app-product-card>
            </div>
        </div>
    </div>
</section>
