<app-page-hero [heroPageTitle]="heroTitle"></app-page-hero>

<app-notification (notDestroy)="onCloseNot()" *ngIf="error?.length !== 0" [errorMessage]="error"></app-notification>

<section class="container">
    <div class="content-wrap">

        <app-page-title [pageTitle]="pageTitle"></app-page-title>

        <app-loader *ngIf="isLoading" size="medium"></app-loader>

        <div *ngIf="!isLoading" class="page-content-wrap">
            <app-search></app-search>

            <ul class="cards-wrap">
                <li *ngFor="let treadmill of treadmills">
                    <app-product-card [product]="treadmill" [cardType]="'treadmill'"></app-product-card>
                </li>

            </ul>
        </div>
    </div>
</section>
