<div class="details-info-wrap">
    <div class="specification">
        <h3 class="specification-title">SPECIFICATIONS</h3>
        <ul class="specification-list" role="list">
            <li class="specification-item">
                <span class="bold-text">Brand</span>
                <span class="sub-text">{{bench.brand}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Made in</span>
                <span class="sub-text">{{bench.madeIn}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Material</span>
                <span class="sub-text">{{bench.material}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Maximum Load Useable</span>
                <span class="sub-text">{{bench.maximumLoadUseable}}kg</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Three Seat Angle Settings</span>
                <span class="sub-text">{{bench.threeSeatAngleSettings}}kg</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Dimensions</span>
                <span class="sub-text">{{bench.material}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Transport Wheels</span>
                <span class="sub-text">{{bench.transportWheels}}</span>
            </li>
            <li class="specification-item">
                <span class="bold-text">Net Weight</span>
                <span class="sub-text">{{bench.netWeight}}kg</span>
            </li>
        </ul>
    </div>

    <div class="desc-wrap">
        <h3 class="desc-title">DESCRIPTION</h3>
        <p class="desc">{{bench.description}}</p>
    </div>
</div>
