<app-page-hero [heroPageTitle]="heroTitle"></app-page-hero>

<app-notification (notDestroy)="onCloseNot()" *ngIf="error?.length !== 0" [message]="error"></app-notification>

<section class="catalog container">

    <app-loader *ngIf="isLoading" size="large"></app-loader>

    <div *ngIf="!isLoading" class="content-wrap">
        <ng-container *ngIf="user$ | async">
            <app-user-nav></app-user-nav>
        </ng-container>
        <ng-container *ngIf="!(user$ | async)">
            <app-page-title [pageTitle]="pageTitle"></app-page-title>
        </ng-container>

        <div *ngIf="products.length > 0" class="products-container">
            <div class="products-heading">
                <h4>ORDER</h4>
            </div>
            <ng-container *ngFor="let product of products">
                <app-checkout-product-card
                    [product]="product"
                    (removeHandler)="removeFromCartHandler(product)"
                    (increaseHandler)="increaseCartHandler(product)"
                    (decreaseHandler)="decreaseCartHandler(product)"
                ></app-checkout-product-card>
            </ng-container>
        </div>
        <div *ngIf="products.length > 0" class="purchase-total">
            <p class="delivery">Delivery: ${{ delivery }}</p>
            <p class="total-price">Total price: ${{ totalPrice }}</p>
        </div>
        <ng-container *ngIf="products.length > 0">
            <app-user-form [products]="products"></app-user-form>
        </ng-container>
        <h3 class="empty" *ngIf="products.length === 0">NO PRODUCTS</h3>
    </div>
</section>
