<app-page-hero [heroPageTitle]="heroTitle"></app-page-hero>

<section class="catalog container">
    <div class="content-wrap">
        <ng-container *ngIf="user$ | async">
            <app-user-nav></app-user-nav>
        </ng-container>
        <ng-container *ngIf="!(user$ | async)">
            <app-page-title [pageTitle]="pageTitle"></app-page-title>
        </ng-container>

        <div class="products-container">
            <div class="products-heading">
                <h4>ORDER</h4>
            </div>

            <app-user-product-checkout></app-user-product-checkout>
            <app-user-product-checkout></app-user-product-checkout>
            <app-user-product-checkout></app-user-product-checkout>
        </div>
        <div class="purchase-total">
            <p class="delivery">Delivery: $0</p>
            <p class="total-price">Total price: $2300</p>
        </div>
        <app-user-form></app-user-form>
    </div>
</section>
