<div class="form-container">
    <form class="form" action="">
        <p class="title">Personal Info</p>
        <div class="input-row">
            <input class="input-field" type="text" placeholder="First Name *" />
        </div>
        <div class="input-row">
            <input class="input-field" type="text" placeholder="Last Name *" />
        </div>
        <div class="input-row">
            <input class="input-field" type="email" placeholder="Email *" />
        </div>
        <div class="input-row">
            <input
                class="input-field"
                type="text"
                placeholder="Phone number *"
            />
        </div>
        <div class="input-row">
            <input
                class="input-field"
                type="text"
                placeholder="Delivery address *"
            />
        </div>
        <div class="btn-wrap">
            <button class="btn">PURCHASE</button>
        </div>
    </form>
</div>
