<app-page-hero [heroPageTitle]="heroTitle"></app-page-hero>

<app-notification (notDestroy)="onCloseNot()" *ngIf="error?.length !== 0" [message]="error"></app-notification>
<section class="login container">
    <div class="form-wrap">
        <app-page-title [pageTitle]="pageTitle"></app-page-title>

        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
            <div class="input-row">
                <input
                    placeholder="Email *"
                    id="email"
                    type="text"
                    class="input-field"
                    formControlName="email"
                    [ngClass]="
                        loginForm.get('email')?.invalid &&
                        loginForm.get('email')?.touched
                            ? 'input-err'
                            : null
                    "
                />
                <ng-container
                    *ngIf="
                        loginForm.get('email')?.invalid &&
                        loginForm.get('email')?.touched
                    "
                >
                    <p
                        class="error"
                        *ngIf="loginForm.get('email')?.errors?.['required']"
                    >
                        Email is required!
                    </p>
                    <p
                        class="error"
                        *ngIf="loginForm.get('email')?.errors?.['invalidEmail']"
                    >
                        Email is invalid!
                    </p>
                </ng-container>
            </div>
            <div class="input-row">
                <input
                    placeholder="Password *"
                    id="password"
                    type="password"
                    class="input-field"
                    formControlName="password"
                    [ngClass]="
                        loginForm.get('password')?.invalid &&
                        loginForm.get('password')?.touched
                            ? 'input-err'
                            : null
                    "
                />
                <ng-container
                    *ngIf="
                        loginForm.get('password')?.invalid &&
                        loginForm.get('password')?.touched
                    "
                >
                    <p
                        class="error"
                        *ngIf="loginForm.get('password')?.errors?.['required']"
                    >
                        Password is required!
                    </p>
                    <p
                        class="error"
                        *ngIf="loginForm.get('password')?.errors?.['minLength']"
                    >
                        Password must be at least 6 character!
                    </p>
                </ng-container>
            </div>
            <button *ngIf="!isLoading" type="submit" class="btn login-btn" [disabled]="loginForm.invalid">Login</button>
            <button *ngIf="isLoading" type="button" class="btn login-btn" [disabled]="isLoading">
                <app-loader size="small"></app-loader>
            </button>
        </form>
        <div class="have-account">
            <p>
                Don't have an account?
                <a routerLink="/auth/register">Sign up</a>
            </p>
        </div>
    </div>
</section>
