<section class="sale container">
    <div class="sale-title-wrap">
        <h3 class="sale-title">WEEK SALE</h3>
        <span class="sale-sub-title">UP TO -70%</span>
    </div>

    <div class="cards-wrap">
       <app-product-card></app-product-card>
       <app-product-card></app-product-card>
       <app-product-card></app-product-card>
    </div>
    <div class="btn-screen-all-wrap">
        <a class="btn-screen-all" href="#"
            >Screen All
            <fa-icon class="faDumbbell" [icon]="icons.faDumbbell"></fa-icon>
        </a>
    </div>
</section>
