<section class="support container">
    <div class="cards-wrap">
        <article class="card">
            <fa-icon
                class="support-icons"
                [icon]="icons.faMicrophone"
            ></fa-icon>
            <h4 class="support-card-title">General Questions</h4>
            <p class="support-card-desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
                placeat nam veniam deleniti minima velit laudantium fuga quae
                voluptas blanditiis.
            </p>
            <a href="#" class="support-card-link">- Get in Touch -</a>
        </article>
        <article class="card">
            <fa-icon class="support-icons" [icon]="icons.faComments"></fa-icon>
            <h4 class="support-card-title">Support</h4>
            <p class="support-card-desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
                placeat nam veniam deleniti minima velit laudantium fuga quae
                voluptas blanditiis.
            </p>
            <a href="#" class="support-card-link">- Get in Touch -</a>
        </article>
        <article class="card">
            <fa-icon class="support-icons" [icon]="icons.faBullhorn"></fa-icon>
            <h4 class="support-card-title">Hire Us</h4>
            <p class="support-card-desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
                placeat nam veniam deleniti minima velit laudantium fuga quae
                voluptas blanditiis.
            </p>
            <a href="#" class="support-card-link">- Get in Touch -</a>
        </article>
    </div>
</section>
