@import "/src/app/shared/variables.scss";

.service {
    margin-bottom: 5rem;
}

.service-cards-wrap {
    position: relative;
    margin-top: -3rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    background-color: $clr-with;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-card-icon {
    background: $clr-orange-light;
    color: $clr-with;
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-card-title {
    margin: 1rem 0 0.5rem 0;
    text-align: center;
}

.service-card-desc {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.75;
    text-align: center;
    color: $clr-font-desc;
}

@media all and (max-width: 1000px) {
    .service-cards-wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service-card {
        margin: auto;
        padding: 0;
    }
}
