<section class="service container">
    <div class="service-cards-wrap">
        <article class="service-card">
            <p class="service-card-icon">
                <fa-icon
                    class="faTimes"
                    [icon]="icons.faCartShopping"
                ></fa-icon>
            </p>
            <h4 class="service-card-title">CHOOSE OUR PRODUCTS</h4>
            <p class="service-card-desc">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum,
                dolore ipsa eaque sequi perferendis molestiae asperiores. Labore
                repellendus laudantium dignissimos id suscipit.
            </p>
        </article>
        <article class="service-card">
            <p class="service-card-icon">
                <fa-icon class="faTimes" [icon]="icons.faGift"></fa-icon>
            </p>
            <h4 class="service-card-title">BEST SALES</h4>
            <p class="service-card-desc">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum,
                dolore ipsa eaque sequi perferendis molestiae asperiores. Labore
                repellendus laudantium dignissimos id suscipit.
            </p>
        </article>
        <article class="service-card">
            <p class="service-card-icon">
                <fa-icon class="faTimes" [icon]="icons.faTruckFast"></fa-icon>
            </p>
            <h4 class="service-card-title">FAST DELIVERY</h4>
            <p class="service-card-desc">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum,
                dolore ipsa eaque sequi perferendis molestiae asperiores. Labore
                repellendus laudantium dignissimos id suscipit.
            </p>
        </article>
    </div>
</section>
