<app-page-hero [heroPageTitle]="heroTitle"></app-page-hero>

<section class="container">
    <div class="content-wrap">
        <app-page-title [pageTitle]="pageTitle"></app-page-title>

        <div class="loader-wrap" *ngIf="isLoading">
            <app-loader size="medium"></app-loader>

        </div>

        <div *ngIf="!isLoading" class="page-content-wrap">
            <app-search></app-search>

            <ul *ngIf="dumbbells.length !== 0" class="cards-wrap">
                <li *ngFor="let dumbbell of dumbbells">
                    <app-product-card [product]="dumbbell" cardType="dumbbell"></app-product-card>
                </li>
            </ul>
            <h3 class="empty" *ngIf="dumbbells.length === 0">NO PRODUCTS</h3>
        </div>
        <app-pagination *ngIf="!isLoading" [countPages]="6" [productCount]="count"></app-pagination>
    </div>
</section>
